.rentcar-container {
  background: #060b1f;
}

.rentcar-wrapper {
  border-radius: 60px 60px 0 0;
  background: #fff;
}

/* .rentcar-container-inner {
  padding: 40px 0;
} */

/* RENT UP */

.rentup-h1 {
  position: relative;
  color: #000;
  font-family: "Inter";
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
  margin-bottom: 40px;
}

.rentup-h1::after,
.rent-services h1:after,
.rent-quest-h1 h1::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  max-width: 575px;
  width: 60%;
  height: 17px;
  flex-shrink: 0;
  background: #475ee9;
}

.rentup-container {
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
  padding-top: 90px;
}

.rentup-container p {
  color: #000;
  font-family: "Inter";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.81px;
  margin-bottom: 40px;
}

.rentup-container a {
  border-radius: 16px;
  background: #475ee9;
  max-width: 302px;
  width: 100%;
  height: 77px;
  color: #fff;
  font-family: "Inter";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rentup-container span {
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
  margin-right: 10px;
  font-weight: lighter;
}

/* RENT UP */

/* RENT ONLY */

.rentonly img {
  width: 100%;
  margin: 40px 0;
  max-height: 747px;
  height: 100%;
  object-fit: cover;
}

/* RENT ONLY */

/* rent services */

.rent-services {
  margin: 0 auto;
  /* max-width: 1200px; */
  width: 100%;
  padding-top: 90px;
}

.rent-services-h1,
.rent-quest-h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rent-services-h1 h1 {
  color: #000;
  font-family: "Inter";
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.2px;
  position: relative;
  margin-bottom: 90px;
}

.rent-services-cards {
  display: flex;
  justify-content: space-between;
}

.rent-services-card {
  border-radius: 38px;
  background: #fff;
  box-shadow: 0px 10px 10px 3px rgba(167, 163, 163, 0.23);
  max-width: 363px;
  width: 100%;
  height: 309px;
  flex-shrink: 0;
  padding: 50px 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.service-card-inner {
  height: 250px;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  /* gap: 10px; */
  justify-content: space-between;
}

.rent-services-card svg {
  width: 60px;
}

.rent-services-card h2 {
  color: #000;
  font-family: "Inter";
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.63px;
}

.rent-services-card p {
  color: #000;
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 0;
  letter-spacing: 0.45px;
}

@media screen and (max-width: 1200px) {
  .rent-services-cards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
}

/* rent services */

/* rent quest */

.ren-quest {
  padding: 90px 0;
}

.rent-quest-h1 h1 {
  color: #000;
  font-family: "Inter";
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.2px;
  position: relative;
}

.rent-quest-cols {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
  margin-top: 75px;
  gap: 40px;
}

.rent-quest-col {
  width: 100%;
}

.rent-quest-col .accordion-button {
  padding: 20px 0;
  color: #000;
  font-family: "Inter";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.66px;
}

.rent-quest-col .accordion-button:not(.collapsed) {
  background: #fff !important;
}

.rent-quest-col .accordion-button,
.rent-quest-col .accordion-button:focus {
  border-top: 1px solid #919191 !important;
  /* border-bottom: 1px solid #919191 !important; */
  box-shadow: none !important;
}

@media screen and (max-width: 768px) {
  .rent-quest-cols {
    flex-wrap: wrap;
  }
}

/* rent quest */

@media screen and (max-width: 850px) {
  .rentup-h1 {
    font-size: 40px;
  }

  .rentcar-container-inner {
    padding: 0 30px;
  }

  .rentup-container a {
    width: 200px;
    font-size: 20px;
    height: 60px;
  }

  .rentup-container span {
    font-size: 35px;
    margin-bottom: 8px;
  }
}


@media screen and (max-width: 500px) {
  .rentup-h1,.rent-services-h1 h1,.rent-quest-h1 h1{
    font-size: 25px !important;
  }

  .rentup-h1::after, .rent-services h1:after, .rent-quest-h1 h1::after{
    bottom: -15px;
    height: 10px;
  }

  .rentup-container p, .rent-quest-col .accordion-button{
    font-size: 16px;
  }

  .rent-quest-cols{
    margin-top: 50px;
  }
}

@media screen and (max-width: 375px) {
  .rentup-h1, .rent-services-h1 h1, .rent-quest-h1 h1,.rent-services-card h2{
    font-size: 19px !important;
  }

  .rentcar-container-inner {
    padding: 0 18px;
  }


  .rent-services-h1 h1{
    margin-bottom: 50px;
  }

  .rent-services{
    padding-top: 20px;
  }

  .rent-services-cards{
    margin-top: 20px;
  }

  .rentup-container{
    padding-top: 50px;
  }

  .rent-services-card {
    height: 270px;
    padding: 35px 20px;
}

  .rent-services-card p{
    font-size: 12px;
  }

  .rentup-container a{
    width: 150px;
    font-size: 15px;
    height: 40px;
    border-radius: 10px;
  }

  .footer-info{
    justify-content: initial !important;
  }
}
