.rent-car-wrapper {
    background-color: #060b1f;
}

.rent-car-section {
    background: #F0F5F5;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    padding-bottom: 100px;
}

/* .step-container {
} */

.firststep-row {
    background-color: #fff;
    border-radius: 46px;
    padding: 50px 125px;
}

.firststep-car {
    max-width: 345px;
    width: 100%;
    height: 200px!important;
}

.firststep-car img {
    width: 100%;
    height: 100%;
}

.firststep-col {
    display: flex;
    justify-content: flex-end;
}

.car-info-first {
    display: flex;
    gap: 20px;
}

.car-perday {
    color: #000;
    font-family: Inter;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 40px;
}

.car-perday span {
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.car-info-first div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.car-info-first div h2 {
    color: #000;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.car-info-first div span {
    color: #000;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.first-input-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.first-input-group .react-datepicker-popper {
    padding-top: 0!important;
}

.first-input-group .react-datepicker__triangle {
    display: none!important;
}

.first-input-col {
    margin-top: 20px;
}

.first-input-group label {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.first-datepicker {
    width: 100%;
    color: #757575;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 16px 15px;
    padding-right: 35px;
    border-radius: 11px!important;
    cursor: pointer;
    border: 1px solid #ccc;
    outline: none;
}

.error-first-datepicker {
    border: 1px solid rgb(248, 52, 52)!important;
    box-shadow: 0 0 0 0.15rem rgba(248, 52, 52, 0.25);
}

.MuiInputBase-root {
    width: 100%!important;
}

.first-input-group {
    width: 100%!important;
    display: flex;
    justify-content: flex-start;
}

.MuiFormControl-root {
    margin: 0!important;
}

.MuiStepLabel-iconContainer {
    padding-right: 0!important;
}

.first-input-group .select__control, 
.first-input-group .css-13cymwt-control, 
.first-input-group .css-t3ipsp-control,
.first-input-group .MuiSelect-select {
    width: 100%;
    color: #757575;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 11px 15px;
    padding-right: 35px;
    border-radius: 11px!important;
    cursor: pointer;
    background-color: transparent!important;
    outline: none;
}

.first-input-col .MuiSelect-select {
    width: 100%!important;
    color: #757575!important;
    font-family: Inter!important;
    font-size: 16px!important;
    font-style: normal!important;
    font-weight: 600!important;
    line-height: normal!important;
    padding: 15px!important;
    padding-right: 35px!important;
    border-radius: 11px!important;
    cursor: pointer!important;
    background-color: transparent!important;
    outline: none!important;
}

.first-input-col .MuiInputBase-root:hover .first-input-col .MuiSelect-select {
    outline: none!important;
    border: none!important;
}

.error-input-col .MuiSelect-select {
    border: 1px solid rgb(248, 52, 52)!important;
    box-shadow: 0 0 0 0.15rem rgba(248, 52, 52, 0.25);
}

.error-input-col .MuiSelect-select:hover {
    outline: none;
}

.first-input-group .MuiOutlinedInput-notchedOutline {
    border-radius: 11px!important;
}

.first-input-group .basic-multi-select {
    border: 1px solid #ccc;
    border-radius: 11px!important;
}

.firststep-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 20px;
    padding: 35px 0;
    gap: 15px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.daily-rent,
.service-fee {
    display: flex;
    justify-content: space-between;
}

.daily-rent p,
.service-fee p {
    color: rgba(0, 0, 0, 0.50);
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.daily-rent span,
.service-fee span {
    color: #000;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.first-total-price {
    display: flex;
    justify-content: space-between;
}

.first-total-price span {
    color: #1DA0FF;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.step-buttons {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 0 0;
}

.step-cancel-button {
    border: 2px solid #ABABAB;
    outline: none;
    border-radius: 10px;
    background-color: transparent;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 12px 35px;
    transition: all 0.2s ease;
}

.step-cancel-button:hover {
    background-color: #475EE9;
    color: #fff;
    border: 2px solid #475EE9;
}

.step-continue-button {
    border: 2px solid #475EE9;
    outline: none;
    border-radius: 10px;
    background: #475EE9;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 12px 35px;
    transition: all 0.2s ease;
}

.step-continue-button:hover {
    opacity: 0.8;
}

.stepper-wrap {
    background-color: #fff;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    padding-top: 75px;
    padding-bottom: 135px;
}

.stepper-wrap h3 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.stepper-wrap p {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.stepper-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.step-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 160px 0;
    background-color: #fff;
    border-radius: 46px;
}

.step-loading > div {
    width: 15%;
    height: 15%;
}

.step-loading > div > span {
    width: 100%!important;
    height: 100%!important;
} 



/* START WAVE SECTION */

.wave-wrapper {
    width: 100%!important;
    height: 100%!important;
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
}

:root {
  --shadowShift: 3px;
  --shadowBlur: 5px;
  --circleColor: #475EE9;
}

.wave {
  position: relative;
  width: 300px!important;
  height: 300px!important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave__icon {
    width: 190px;
    height: 190px;
    background-color: #475EE9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wave__title {
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.wave__desc {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px 0;
}

.wave__btn {
  z-index: 100;
  width: 80px;
  height: 80px;
  border-radius: 20px;
  border: none;
  transition: transform 0.2s ease-out;
}

.wave__btn:focus {
  outline: none;
}

.wave__btn:focus-visible {
  border-color: #475EE9;
}

.wave__btn:active {
  opacity: 0.7;
  transform: rotate(45deg) scale(1);
}

.wave__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.wave__circle {
  position: absolute;
  background-color: transparent;
  border: 10px solid var(--circleColor);
  border-radius: 50%;
  box-shadow: inset var(--shadowShift) var(--shadowShift) var(--shadowBlur)
  #475EE9,
    var(--shadowShift) var(--shadowShift) var(--shadowBlur)
    #475EE9,
    inset calc(var(--shadowShift) * -1) calc(var(--shadowShift) * -1)
      var(--shadowBlur) #475EE9,
    calc(var(--shadowShift) * -1) calc(var(--shadowShift) * -1)
      var(--shadowBlur) #475EE9;
  filter: blur(1px);

  animation-name: ripple;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0, 0.2, 0.8, 1);
  animation-iteration-count: infinite;
}

.wave__container .wave__circle:nth-child(1) {
  animation-delay: -1.5s;
}

.wave__container .wave__circle:nth-child(2) {
  animation-delay: -1s;
}

.wave__container .wave__circle:nth-child(3) {
  animation-delay: -0.5s;
}

.wave__container .wave__circle:nth-child(4) {
  animation-delay: 0s;
}

.wave__container .wave__circle:nth-child(5) {
  animation-delay: 0.5s;
}

@keyframes ripple {
  0% {
    top: 150px;
    left: 150px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

/* END WAVE SECTION */


/* START SECOND STEPFORM SECTION */

.secondstep-row {
    position: relative;
    border-radius: 46px;
    background: #FFF;
    margin-top: 300px;
    padding: 120px 30px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondstep-row h4 {
    width: 65%;
    color: #000;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.secondstep-total-price {
    display: flex;
    justify-content: space-between;
}

.secondstep-total-price h3 {
    color: #1DA0FF;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.paycart-img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-70%);
    display: flex;
    justify-content: center;
}

.paycart-img img {
    width: 35%;
}

.paycart-numbers {
    position: relative;
}

.paycart-numbers img {
    width: 50px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.second-step-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.second-step-group label {
    color: #000;
    font-size: 20px;
    font-weight: 700;
}

.second-step-group input {
    /* width: 100%!important; */
    border: 1px solid #ccc;
    border-radius: 11px!important;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    padding: 16px 15px 16px 15px;
    line-height: 1!important;
}

#CVV,
#usageDate {
    text-align: center;
}

.paycart-info-row {
    margin-top: 70px;
    padding-bottom: 50px;
    border-bottom: 1px solid #C5C5C5;
}
.paycart-info-row2 {
    margin-top: 40px;
    padding-bottom: 50px;
}

.other-paycarts {
    display: flex;
    gap: 15px;
}

.other-paycarts label {
    color: #4B4B4B;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

.other-paycarts button {
    color: #000;
    width: 50%;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    line-height: normal;
    background-color: #fff;
    border-radius: 15px;
    border: 3px solid #475EE9;
    padding: 16px 0px;
    transition: all 0.2s ease;
}

.other-paycarts button:hover {
    background-color: #fafafa;
}

.paycart-terms-conditions {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.paycart-terms-conditions h4 {
    width: 100%;
}

.paycart-terms-conditions .second-step-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.paycart-check {
    width: 52px;
    height: 52px;
    border: 1px solid #ccc;
    border-radius: 11px!important;
}

.paycart-check:focus {
    color: #000;
    background-color: transparent;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

/* END SECOND STEPFORM SECTION */



@media screen and (max-width: 991.5px) {
    .firststep-row {
        padding: 30px 80px;
    }

    .firststep-col {
        justify-content: center;
    }

    .car-info-first {
        flex-direction: column;
        align-items: center;
    }

    .car-info-first div {
        text-align: center;
    }

    .car-perday {
        text-align: center;
        margin: 15px 0;
    }

    .car-info-first img {
        width: 80px;
        height: 109px;
    }

    .paycart-info-row .col-lg-7 {
        margin-top: 30px;
    }

    .paycart-info-row2 .col-lg-7 {
        margin-top: 30px;
    }

    .paycart-img img {
        width: 45%;
    }

    .secondstep-row {
        margin-top: 250px;
    }
}

@media screen and (max-width: 768px) {
    .firststep-row {
        padding: 30px 50px;
    }

    .car-perday {
        font-size: 20px;
    }

    .car-perday span {
        font-size: 32px;
    }

    .car-info-first div h2 {
        font-size: 28px;
    }

    .car-info-first div span {
        font-size: 22px;
    }

    .first-input-group label,
    .second-step-group label {
        font-size: 16px;
    }

    .first-datepicker,
    .second-step-group input {
        color: #757575;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 14px 15px;
    }

    .paycart-check {
        width: 30px;
        height: 30px;
    }

    .paycart-terms-conditions {
        margin-top: 50px;
    }

    .paycart-terms-conditions .second-step-group {
        width: 50%;
        gap: 10px;
    }

    .paycart-terms-conditions h4 {
        font-size: 20px!important;
    }

    .paycart-terms-conditions label {
        font-size: 14px!important;
    }

    .first-input-group .select__control, 
    .first-input-group .css-13cymwt-control, 
    .first-input-group .css-t3ipsp-control {
        padding: 8px 15px;
    }

    .first-input-col .MuiSelect-select {
        padding: 12px 15px!important ;
    }

    .car-info-first img {
        width: 80px;
        height: 109px;
    }

    .daily-rent p, 
    .service-fee p {
        font-size: 18px;
    }

    .daily-rent span, 
    .service-fee span,
    .first-total-price span {
        font-size: 18px;
    }

    .firststep-bottom {
        margin-top: 40px;
        margin-bottom: 20px;
        padding: 25px 0;
    }

    .service-fee p {
        margin-bottom: 0;
    }

    .step-cancel-button,
    .step-continue-button {
        font-size: 18px;
        padding: 10px 28px;
    }

    .stepper-wrap p {
        font-size: 18px;
        padding: 0 15px;
    }

    .stepper-wrap h3 {
        font-size: 35px;
        padding: 0 15px;
    }

    .wave__desc {
        font-size: 18px;
        padding: 0 15px;
    }

    .wave__title {
        font-size: 35px;
        padding: 0 15px;
    }

    .wave {
        width: 220px!important;
        height: 220px!important;
    }

    @keyframes ripple {
        0% {
            top: 110px;
            left: 110px;
            width: 0;
            height: 0;
            opacity: 1;
        }
        
        100% {
            top: 0;
            left: 0;
            width: 220px;
            height: 220px;
            opacity: 0;
        }
    }

    .wave__icon {
        width: 130px;
        height: 130px;
        background-color: #475EE9;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wave__btn {
        width: 70px;
        height: 70px;
    }

    .wave__circle {
        border: 7px solid var(--circleColor);
    }

    .step-loading {
        padding: 100px 0;
    }

    .secondstep-row {
        padding: 80px 15px 80px;
    }

    .secondstep-total-price h3 {
        font-size: 22px;
    }

    .secondstep-row h4 {
        font-size: 22px;
    }

    .other-paycarts {
        display: flex;
        justify-content: center;
    }

    .other-paycarts label {
        display: flex;
        justify-content: flex-start;
        width: 30%;
        font-size: 16px;
    }

    .other-paycarts button {
        width: 40%;
        font-size: 16px;
        padding: 14px;
    }

    .paycart-img img {
        width: 50%;
    } 

    .secondstep-row {
        margin-top: 200px;
    }

    .secondstep-row h4 {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .firststep-row {
        padding: 20px;
    }

    .daily-rent p, 
    .service-fee p {
        font-size: 16px;
    }

    .daily-rent span, 
    .service-fee span, 
    .first-total-price span {
        font-size: 16px;
    }

    .first-input-group label,
    .second-step-group label {
        font-size: 16px;
    }

    .wave__desc {
        font-size: 15px;
        padding: 0 15px;
    }

    .wave__title {
        font-size: 24px;
        padding: 0 15px;
    }

    .step-cancel-button,
    .step-continue-button {
        font-size: 16px;
        padding: 8px 24px;
    }

    .step-buttons {
        display: flex;
        justify-content: space-between;
        padding: 50px 0 0 0;
    }

    .stepper-container {
        gap: 20px;
    }

    .stepper-wrap {
        padding-top: 35px;
        padding-bottom: 55px;
    }

    .stepper-wrap p {
        font-size: 15px;
        padding: 0 15px;
    }

    .stepper-wrap h3 {
        font-size: 24px;
        padding: 0 15px;
    }

    .secondstep-row {
        padding: 80px 5px 80px;
    }

    .secondstep-total-price h3 {
        font-size: 20px;
    }

    .secondstep-row h4 {
        font-size: 20px;
    }

    .other-paycarts {
        gap: 0px;
    }

    .other-paycarts label {
        display: flex;
        justify-content: flex-start;
        width: 40%;
        font-size: 14px;
    }

    .other-paycarts button {
        width: 60%;
        font-size: 14px;
        padding: 14px 5px;
    }

    .paycart-img img {
        width: 70%;
    }

    .secondstep-row {
        margin-top: 180px;
    }

    .paycart-terms-conditions .second-step-group {
        gap: 5px;
    }

    .paycart-terms-conditions h4 {
        font-size: 18px!important;
    }

    .paycart-terms-conditions label {
        font-size: 12px!important;
    }

    .paycart-check {
        width: 25px;
        height: 25px;
    }

}