.search-result-wrapper {
    background-color: #060B1F;
}

.search-result-top {
    background-color: #fff;
    border-radius: 60px 60px 0px 0px;
    padding-top: 50px;
    padding-bottom: 57px;
}

.search-result-title {
    color: #000;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.84px;
    display: flex;
    align-items: flex-end;
    gap: 5px;
    margin-bottom: 0!important;
}

.takeplace-result div {
    width: 100%;
    border: none!important;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 24px 15px;
    border-radius: 11px;
    background: #F0F5F5;
    cursor: pointer;
}

.takeplace-result p {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.48px;
}

.takeplace-icon {
    font-size: 22px;
}

.takeplace-content {
    display: flex;
    align-items: center;
    gap: 14px;
}

.inputs-row {
    margin-top: 40px;
}

.result-all-cars {
    display: flex;
    justify-content: center;
    padding: 5% 2%;
}

.result-cars-title {
    color: #000;
    font-family: Inter;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.69px;
}

.result-cars-title span {
    color: #475EE9;
font-family: Inter;
font-size: 23px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.69px;
}

.result-row {
    width: 100%;
    background-color: #F9FBFC;
}

.result-high-filter {
    background-color: #fff;
    padding: 5% 10% 15% 10%;
}

.high-filter-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.high-filter-top p, 
.high-filter-top h3 {
    margin-bottom: 0;
}

.high-filter-top h3 {
    color: #475EE9;
    font-family: Inter;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.69px;
}

.high-filter-top p {
    color: #475EE9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.48px;
    cursor: pointer;
}

.high-filter-top p:hover {
    text-decoration: underline;
    opacity: 0.8;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
    box-shadow: none!important;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root:before {
    height: 0!important;
}

.css-ahj2mt-MuiTypography-root {
    color: #000;
    font-family: Inter!important;
    font-size: 18px!important;
    font-style: normal!important;
    font-weight: 700!important;
    line-height: normal!important;
    letter-spacing: 0.69px!important;
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
    padding: 0!important;
}

.plus-icon {
    font-size: 23px;
    color: #000;
}

.css-15v22id-MuiAccordionDetails-root {
    display: flex;
    flex-direction: column;
    padding: 0px 16px 0px!important;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded {
    margin: 5px 0!important;
}