.other-cars-wrap {
    
}

.car-card {
    border: none!important;
    background-color: transparent;
    margin-top: 63px;
}

.other-cars-title {
    color: #000;
    font-family: Inter;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.87px;
}

.car-card .card-body {
    background-color: #fff;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    justify-content: space-between;
}


.car-statistics {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.car-info p {
    border-bottom: 1px solid #ccc;
    color: #000;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.51px;
    padding-bottom: 6px;
    margin-bottom: 6px;
}

.car-statistics span {
    color: #000;
    font-family: Inter;
    font-size: 9px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.27px;
}

.car-price {
    height: fit-content;
    align-self: center;
}

.car-price span {
    color: #475EE9;
    font-family: Inter;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.car-year,
.car-engine,
.car-gasoline {
    display: flex;
    gap: 3px;
    align-items: center;
}

.car-imgs {
    position: relative;
}

.car-logo,
.car-save {
    width: 43px;
    height: 32px;
    position: absolute;
    background-color: #fff;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.car-logo {
    top: 24px;
    left: 15px;
}

.car-save {
    top: 24px;
    right: 15px;
}

.car-logo img,
.car-save svg {
    width: 60%;
    height: 60%;
}

.other-cars-button {
    margin-top: 78px;
}

.other-cars-button button {
    color: #FFF;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 37px; 
    background-color: transparent;
    width: 255px;
    height: 62px;
    border-radius: 16px;
    background: #475EE9;
    border: none;
    outline: none;
}

@media screen and (max-width: 992px) {
    .other-cars-button button {
        font-size: 17px;
        width: 220px;
        height: 52px;
    }
}

@media screen and (max-width: 767.5px) {
    .car-card {
        max-width: 350px;
        width: 100%;
    }

    .car-card-col {
        display: flex;
        justify-content: center;
    }

    .other-cars-button {
        margin-top: 48px;
    }

    .other-cars-button button {
        font-size: 16px;
        width: 200px;
        height: 45px;
    }
}

@media screen and (max-width: 500px) {
    .other-cars-button button {
        font-size: 15px;
        width: 180px;
        height: 40px;
    }
}