.nav-container {
  background: #060b1f;
  padding: 36px 0;
  position: relative;
}



.nav-second-container {
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
  padding: 0;
}

.middle-sec li {
  height: 52px;
  width: 177px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  border-radius: 9px;
  /* border: 1px solid #fff; */
}

.middle-sec li a {
  color: #fff;
  font-family: "Inter";
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.57px;
}

.middle-sec li svg {
  fill: #8c8e99;
}

.middle-sec li:hover {
  border-radius: 9px;
  background: #fff;
}

.middle-sec li:hover a {
  color: #060b1f;
}

.middle-sec li:hover svg {
  fill: black !important;
}

.right-sec {
  display: flex;
  gap: 30px;
}

.right-sec .rent {
  border-radius: 10px;
  background: #475ee9;
  width: 176px;
  height: 51px;
  color: #fff;
  font-family: "Inter";
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.right-sec button {
  background: transparent;
  border: none;
}

.right-sec button img {
  filter: invert(1);
  width: 40px;
  height: 40px;
}

.hidden-sec {
  position: fixed;
  color: #fff;
  top: 0;
  right: 0;
  height: 100vh;
  width: 370px;
  /* width: 100%; */
  border: 1px solid #fff;
  z-index: 100;
  background: #000;
  transition: all 0.5s ease-in-out;
}

.hide-menu {
  /* display: none; */
  transition: all 0.5s ease-in-out;
  transform: translateX(1000%);
}

.show-menu {
  transform: translateX(0);
  transition: all 0.5s ease-in-out;
}


@media screen and (max-width: 500px) {
    .hidden-sec{
        width: 100%;
    }


    .nav-second-container{
        padding: 0 20px;
    }

    .rent{
        display: none;
    }
}