.nav-container {
  background: #060b1f;
  padding: 36px 0;
  position: relative;
}

.nav-second-container {
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
  /* padding: 0; */
}

.middle-sec li {
  height: 52px;
  width: 177px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  border-radius: 9px;
  /* border: 1px solid #fff; */
}

.middle-sec li a {
  color: #fff;
  font-family: "Inter";
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.57px;
}

.middle-sec li svg {
  fill: #8c8e99;
}

.middle-sec li:hover {
  border-radius: 9px;
  background: #fff;
}

.middle-sec li:hover a {
  color: #060b1f;
}

.middle-sec li:hover svg {
  fill: black !important;
}

.right-sec {
  display: flex;
  gap: 30px;
}

.right-sec .rent {
  border-radius: 10px;
  background: #475ee9;
  width: 176px;
  height: 51px;
  color: #fff;
  font-family: "Inter";
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-sec button {
  background: transparent;
  border: none;
}

.right-sec button img,
.close-btn img {
  filter: invert(1);
  width: 40px;
  height: 40px;
}
.close-btn img {
  filter: invert(1);
  width: 30px;
  height: 30px;
  transition: all 0.3s ease-in-out;
}

.close-btn img:hover {
  transform: rotate(180deg);
}

.hidden-sec {
  position: fixed;
  color: #fff;
  top: 0;
  right: 0;
  height: 100vh;
  width: 400px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  z-index: 100;
  background: #060b1f;
  transition: all 0.5s ease-in-out;
  /* border: 2px inset #fff ; */
}

.close-btn {
  position: absolute;
  right: 25px;
  top: 25px;
  border: none;
  background-color: transparent;
}

.hide-menu {
  transition: all 0.5s ease-in-out;
  transform: translateX(1000%);
}

.show-menu {
  transform: translateX(0);
  transition: all 0.5s ease-in-out;
}

.hidden-inner {
  margin-top: 10%;
  padding: 80px 30px 50px 30px;
}

.hidden-inner li {
  margin: 15px 0;
}

.hidden-inner li a svg {
  fill: #8c8e99;
}

.hidden-inner li a {
  color: #8b8b8b;
  font-family: "Inter";
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.63px;
}

.hidden-inner li a:hover {
  color: #fff;
}

.hidden-inner li a:hover svg {
  fill: #fff;
}

.hidden-inner svg {
  width: 20px;
}

@media screen and (max-width: 500px) {
  .hidden-sec {
    width: 100%;
    border-radius: initial;
    border: none;
  }

  .nav-second-container {
    padding: 0 20px;
  }

  .rent {
    display: none !important;
  }
}
