@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Roboto+Condensed:wght@700&family=Space+Grotesk:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.container-xl {
  max-width: 1400px!important;
  width: 100%;
}

.container {
  max-width: 1350px!important;
  width: 100%;
}

.container-md {
  max-width: 1200px!important;
  width: 100%;
}

.validation-error {
  color: rgb(248, 52, 52)!important;
  font-size: 16px!important;
  font-weight: 600!important;
  margin-bottom: 0!important;
}
